<h1>Listing carts</h1>

<h2>一共有<%=@carts.count%>个购物车</h2>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carts.each do |cart| %>
<h2>购物车<%=cart.line_items.count%></h2>
<% cart.line_items.each do |line_item|%>
  <tr>
	<td><%=line_item.product.title%></td>
	<td><%=line_item.product.price%></td>
    <td><%= link_to 'Show', cart %></td>
    <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
    <td><%= link_to 'Destroy', cart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

<% end %>
</table>

<br />

<%= link_to 'New Cart', new_cart_path %>
